awesome-slugify==1.6.5
bcrypt==2.0.0
blinker==1.4
cffi==1.5.2
Flask==0.10.1
Flask-Bcrypt==0.7.1
Flask-Login==0.3.2
Flask-Mail==0.9.1
flask-peewee==0.6.7
Flask-SQLAlchemy==2.1
Flask-User==0.6.8
Flask-WTF==0.12
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
ordereddict==1.1
passlib==1.6.5
peewee==2.8.0
pycparser==2.14
pycrypto==2.6.1
PyMySQL==0.7.1
regex==2016.4.25
requests==2.9.1
six==1.10.0
SQLAlchemy==1.0.12
Unidecode==0.4.19
urllib3==1.14
Werkzeug==0.11.3
wtf-peewee==0.2.6
WTForms==2.1
