<ul class="nav nav-pills categories">
    <li class="active"><a href="#/">General </a></li>
    <li><a href="#/soon">Traveling </a></li>
    <li><a href="#/soon">Programing </a></li>
    <li><a href="#/soon">Music </a></li>
    <li><a href="#/soon">Opinions </a></li>
</ul>
<div class="container post">
    <div class="row">
        <div class="col-md-6 post-title">
            <h1>New website <a href="https://goo.gl/maps/osEXCAzpfhw">@Antwerp, Belgium</a></h1>
            <p class="author"><strong>Abdul Achik</strong> <span class="text-muted">January 25th 2016 </span></p>
        </div>
        <div class="col-md-6 col-md-offset-0 post-body">
            <p>Today i decided to remake my website finally but now with my portfolio(my actual portfolio), which i will be uploading soon along with new posts about programing in python && javascript and my new lifestyle. </p> 
            <p>As for my lifestyle which in reality is not that complicated, i do live and think differently as i used to live when i was living in La Laguna, Mexico. which is why i wanted to remake my website without the old crap i used to write because i am a different guy now. </p> 
            <p>Is recomforting for me to think about my future and my plans but its exciting to share them once again after writing almost exclusively all about my feelings and emotions for almost 4 months. </p> 
            <figure>
                <img class="img-thumbnail" src="/img/winkelhaak-color.jpg"> 
                <figcaption>New working place </figcaption> 
            </figure> 
            <p>Anyway i hope you keep reading me even thought i will be writing in english and maybe french from now on and not in spanish as i used. I hope you like my new website, blog, songs, portfolio and specially my new histories that i want to share with all of you.</p>
        </div>
    </div>
</div>