<div class="container post">
	<div class="row">
		<div class="col-md-6 post-title">
			<h1>Hey you!</h1>
			<p class="author"><strong>Abdul Achik</strong> <span class="text-muted">January 26th 2016 </span></p>
		</div>
		<div class="col-md-6 col-md-offset-0 post-body">
			<p>Apparently you reached something that is either not finished or it doesnt exist.</p>
			<p>I'm sorry about this, its probably coming soon though!</p>
			<p>Meanwhile, you can wait watching this cat!</p>
			<figure>
		        <img class="img-thumbnail" src="/img/soon-404.jpg"> 
		        <figcaption>Hello human </figcaption> 
		    </figure> 
		</div>
	</div>
</div>