<div class="post">
        <div class="text-center">
            <h1>{{ post.title }}<a href="{{ post.maps }}">@{{ post.geo }}</a></h1>
            <p class="author">
                <strong>
                    <a href="http://www.twitter.com/{{ post.author.twitter }}">
                        @{{ post.author.twitter }}
                    </a>
                </strong> 
                <span class="text-muted">{{ post.date | date: format: 'longDate' }} </span>
            </p>

            <a class="btn btn-default" href="#/">
                <i class="fa fa-arrow-left"></i>  go back
            </a>
        </div>
        <div class="post-body">
            <div ta-bind ng-model="post.content">
                {{ post.content }}
            </div>
        </div>
        <div id="tags">
            <h6><i class="fa fa-tags"></i>Tags: </h6>
            <ul class="list-inline">
                <li ng-repeat="tag in tags" class="btn btn-default">
                    <a>
                        <i class="fa fa-tag"></i> {{ tag.title }}
                    </a>
                </li>
            </ul>
        </div>
</div>