<div class="container login">
    <div class="jumbotron" style="padding-bottom:0px;">
        <h2 class="text-center">Dashboard access</h2>
    </div>
    <form role="form" autocomplete="off">
        <div class="form-group">
            <input ng-model="user.email" type="email" class="form-control" placeholder="Email address" required autofocus="" autocomplete="off">
        </div>
        <div class="form-group">
            <input ng-model="user.password" type="password" class="form-control" placeholder="Password" required autocomplete="off">
        </div>
    <button type="button"  ng-click="SignIn()" id="signin-btn" class="btn btn-lg btn-default btn-block">Sign In</button>
  </form>
</div>
 
   