{% raw %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vue Example</title>
    <!-- 1. Load libraries -->
    <!-- IE required polyfill -->
    <script src="static/js/core-js/client/shim.min.js"></script>

    <script src="static/js/zone.js/dist/zone.js"></script>
    <script src="static/js/reflect-metadata/Reflect.js"></script>

    <script src="static/js/rxjs/bundles/Rx.umd.js"></script>
    <script src="static/js/@angular/core/bundles/core.umd.js"></script>
    <script src="static/js/@angular/common/bundles/common.umd.js"></script>
    <script src="static/js/@angular/compiler/bundles/compiler.umd.js"></script>
    <script src="static/js/@angular/platform-browser/bundles/platform-browser.umd.js"></script>
    <script src="static/js/@angular/platform-browser-dynamic/bundles/platform-browser-dynamic.umd.js"></script>

    <!-- 2. Load our 'modules' -->
    <script src="static/scripts/app/app.components.js"></script>
    <script src="static/scripts/app/main.js"></script>
  </head>
  <body>
    <my-app></my-app>
  </body>
</html>
{% endraw %}
