{% extends 'layout.html' %}
{% block content %}
<div class="wrapper">
  <h1>Welcome <small>to my website</small></h1>
  <p>
    My name is Abdul, i'm a self-trained front-end developer,
    i studied Engineering in IT at a really shitty university.
    So far i havent graduated but if you want to know the reason feel free to check my <a href="/blog">blog</a>
  </p>
  <p>
    For more info about my skills, projects and personality feel free to visit my <a href="/portfolio">portfolio</a>.
  </p>
</div>
{% endblock %}
