<div class="container" id="dashboard">
	<h6>Welcome<small> {{ user.first_name }}</small></h6>
    <div class="row">
    	<div class="col-md-4">
    		<div class="panel panel-default">
				<div class="panel-heading">Menu</div>
	    		<ul class="nav nav-pills nav-stacked">
			    	<li>
			    		<button type="button" class="btn btn-default btn-block" ng-show="!createPost" ng-click="createPost = !createPost">
			    			<i class="fa fa-file-text"></i> New Post
			    		</button>
			    		<ul class="nav nav-pills nav-justified" ng-show="createPost">
			    			<li role="presentation">
			    				<button ng-show="!postForm.published" ng-click="newPost(true)" type="button" class="btn btn-default btn-block">
					        		<i class="fa fa-mail-reply"></i>  Submit
					        	</button>
					        	<button ng-show="postForm.published" ng-click="updatePost(postForm); createPost = !createPost" type="button" class="btn btn-success btn-block">
					        		<i class="fa fa-mail-refresh"></i>  Update
					        	</button>
			    			</li>
			    			<li role="presentation">
			    				<button ng-click="newPost(false)" type="button" class="btn btn-primary btn-block">
					        		<i class="fa fa-paperclip"></i>  Draft
					        	</button>
			    			</li>
			    			<li role="presentation">
			    				<button ng-click="createPost = !createPost" type="button" class="btn btn-danger btn-block">
					        		<i class="fa fa-times"></i>  Cancel
					        	</button>
			    			</li>
			    		</ul>
			    	</li>
			    	<li>
			    		<button type="button" class="btn btn-default btn-block">
			    			<i class="fa fa-comment"></i> Messages
			    		</button>
			    	</li>
			    	<li >
			    		<button type="button" class="btn btn-default btn-block">
			    			<i class="fa fa-picture-o"></i> Portafolio
			    		</button>
			    	</li>
			    </ul>
		    </div>
		    <div class="panel panel-default" ng-show="createPost">
				<div class="panel-heading">Add tags to the new entry</div>
		    	<div class="panel-body">
		    		<div class="form-group">
		    				<input type="text" ng-model="tagTitle" ng-style="{ width : '85%' }" placeholder="add tag">
		    				<button type="button" class="btn btn-default" ng-click="addTag(tagTitle)">
				                <i class="fa fa-plus"></i> add
				            </button>
		    		</div>
				    <ul id="tagsList" class="list-unstyled">
			            <li ng-repeat="tag in tags | filter:tagTitle">
			                <a  class="btn btn-block"
			                	ng-class="tag.selected ? 'btn-success' : 'btn-default' "
			                	ng-click="tag.selected ? untagPost(tag) : tagPost(tag);"
			                	ng-style="tag.selected ? { color : 'white' } : { color : 'rgb(102, 102, 102)' }">
			                	<i class="fa fa-tag"></i> {{ tag.title }}
			                </a>
			            </li>
			        </ul>
		        </div>
		    </div>
    	</div>
    	<div class="col-md-8">
    		<div class="panel panel-default" ng-show="!createPost">

			  <div class="panel-heading">Blog entries</div>

			  <table class="table">
			  	<thead>
			  		<tr>
			  			<th>Published</th>
				  		<th>Title</th>
				  		<th>Date</th>
				  		<th>Options</th>
			  		</tr>
			  	</thead>
			  	<tbody>
			  		<tr ng-repeat="post in posts | orderBy : 'date' : true">
			  			<td>
			  				<button class="btn btn-default"  ng-show="!post.published" ng-click="post.published = !post.published; updatePost(post)">
			  					<i class="fa fa-square-o"></i>
			  				</button>
			  				<button class="btn btn-success" ng-show="post.published" ng-click="post.published = !post.published; updatePost(post)">
			  					<i class="fa fa-check-square-o"></i>
			  				</button>
			  			</td>
			  			<td>
			  				<a href="#/post/{{ post.slug }}">{{ post.title }}</a>
			  			</td>
			  			<td>
			  				{{ post.date |  date: format: 'medium' }}
			  			</td>
			  			<td>
			  				<button type="button" class="btn btn-default" ng-click="$parent.createPost = !$parentcreatePost; $parent.postForm = post">
			  					<i class="fa fa-pencil-square-o"></i>
			  				</button>
			  				<button type="button" class="btn btn-danger" ng-click="deletePost(post)">
			  					<i class="fa fa-times"></i>
			  				</button>
			  			</td>
			  		</tr>
			  	</tbody>
			  	<tfoot></tfoot>
			  </table>
			</div>
			<div class="panel panel-default"  ng-show="createPost">
				<div class="panel-heading">
					New entry
				</div>
				<div class="panel-body">
					<form  class="form-group">
				    	<input type="text" placeholder="title of publication" ng-model="postForm.title" class="form-control">
					  	<text-angular name="content" ng-model="postForm.content" placeholder="Write something you want to share...">
				        </text-angular>
				    </form>
				</div>
			</div>
    	</div>
    </div>
</div>
