<div class="panel">
  <div class="panel-heading">Blog entries</div>

  <table class="table">
    <thead>
      <tr>
        <th>Published</th>
        <th>Title</th>
        <th>Date</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="post in posts | orderBy : 'date' : true">
        <td>
          <button class="btn btn-default"  ng-show="!post.published" ng-click="post.published = !post.published; updatePost(post)">
            <i class="fa fa-square-o"></i>
          </button>
          <button class="btn btn-success" ng-show="post.published" ng-click="post.published = !post.published; updatePost(post)">
            <i class="fa fa-check-square-o"></i>
          </button>
        </td>
        <td>
          <a href="#/post/{{ post.slug }}">{{ post.title }}</a>
        </td>
        <td>
          {{ post.date |  date: format: 'medium' }}
        </td>
        <td>
          <button type="button" class="btn btn-default" ng-click="$parent.createPost = !$parentcreatePost; $parent.postForm = post">
            <i class="fa fa-pencil-square-o"></i>
          </button>
          <button type="button" class="btn btn-danger" ng-click="deletePost(post)">
            <i class="fa fa-times"></i>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot></tfoot>
  </table>
  </div>
</div>
